.detail-container {
    display: inline-block;
    border: 5px solid blueviolet;
    margin-bottom: 10%;
    background-color: black;
    color: white;
    border-radius: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 blueviolet;
    transition: box-shadow 0.3s ease-in-out;
}

.detail-container:hover {
    box-shadow: 0 0 20px 0 blueviolet, 0 0 40px 0 blueviolet, 0 0 80px 0 blueviolet;
}

.img-container img{
    width: 50%;
    height: 50%;
}

.counter {
    font-size: 30px;
    color: blueviolet;
    margin-top: 50px;
}

.button-add {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    font-weight: bolder;
    margin: 10px;
}

.button-remove {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    font-weight: bolder;
    margin: 10px;
}

.add-to-cart {
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: bolder;
    margin: 15px;
}

.add-to-cart:hover {
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    width: 150px;
    height: 75px;
}